---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import BackToPrevious from "@components/BackToPrevious.astro";
import { type BlogPost, getTagsWithPosts } from "@lib/content";

export async function getStaticPaths() {
  const tags = await getTagsWithPosts();

  return tags.map(({ tag, posts }) => ({
    params: { id: tag },
    props: {
      posts,
    },
  }));
}

type Props = {
  posts: BlogPost[];
};

const { id } = Astro.params;
const { posts } = Astro.props as Props;
---

<Layout title={`태그: ${id}`} description={`${id} 태그 글 목록`}>
  <Container>
    <div class="space-y-10" data-pagefind-ignore>
      <BackToPrevious href="/tags"> 모든 태그 </BackToPrevious>
      <h1 class="font-semibold text-black dark:text-white">
        "{id}" 태그 글 목록
      </h1>
      <ul class="flex flex-col gap-4">
        {posts.map((post) => (
          <li>
            <ArrowCard entry={post} />
          </li>
        ))}
      </ul>
    </div>
  </Container>
</Layout>
