---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { getTagsWithPosts } from "@lib/content";

const tags = await getTagsWithPosts();
---

<Layout title="Tags" description="태그 목록">
  <Container>
    <div class="space-y-10">
      <h1 class="font-semibold">모든 태그</h1>
      <div class="flex flex-wrap gap-2">
        {
          tags.map(({ tag, count }) => (
            <a
              href={`/tags/${tag}`}
              class="rounded-sm border border-black/15 px-2 py-1 text-sm transition-colors duration-300 ease-in-out hover:bg-[var(--color-accent-subtle)] hover:text-black focus-visible:bg-[var(--color-accent-subtle)] focus-visible:text-black dark:border-white/20 dark:hover:text-white dark:focus-visible:text-white"
            >
              {tag}{" "}
              <span class="text-sm text-black/50 dark:text-white/50">
                ({count})
              </span>
            </a>
          ))
        }
      </div>
    </div>
  </Container>
</Layout>
