---
import { cn } from "@lib/utils";

type Props = {
  size?: "content" | "page" | "article";
  class?: string;
};

const { size = "content", class: className } = Astro.props;

const sizes = {
  content: "max-w-(--breakpoint-sm) px-4",
  page: "max-w-6xl px-4 sm:px-6 lg:px-8",
  article: "max-w-4xl px-4 sm:px-6 lg:px-8",
};
---

<div class={cn("mx-auto w-full", sizes[size], className)}><slot /></div>
